@inherits TabComponent

@if (Visible)
{
    <div @ref="@Element" id="@GetId()" class="@GetCssClass()" @attributes="Attributes">
      <TabButton ButtonType="ButtonType.Link" Href="#" class="btn-floating btn-icon" Color="Colors.Primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings" aria-label="@Title">
        <TabIcon Icon="@Icons.Outline.Brush" />
      </TabButton>
        <form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings">
            <div class="offcanvas-header">
                <TabText HtmlTag="HtmlTag.H2" class="offcanvas-title">@Title</TabText>
                <TabButton ButtonType="ButtonType.Button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></TabButton>
            </div>
            <div class="offcanvas-body d-flex flex-column">
              <div>
                  <div class="mb-4">
                      <label class="form-label">Color mode</label>
                      <p class="form-hint">Choose the color mode for your app.</p>
                      <label class="form-check">
                        <div class="form-selectgroup-item">
                          <input type="radio" name="theme" value="light" class="form-check-input" checked/>
                          <div class="form-check-label">Light</div>
                        </div>
                      </label>
                      
            <label class="form-check">
              <div class="form-selectgroup-item">
                <input type="radio" name="theme" value="dark" class="form-check-input"/>
                <div class="form-check-label">Dark</div>
              </div>
            </label>
          </div>
          <div class="mb-4">
            <label class="form-label">Color scheme</label>
            <p class="form-hint">The perfect color mode for your app.</p>
            <div class="row g-2">
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="blue" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-blue"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="azure" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-azure"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="indigo" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-indigo"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="purple" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-purple"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="pink" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-pink"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="red" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-red"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="orange" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-orange"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="yellow" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-yellow"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="lime" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-lime"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="green" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-green"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="teal" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-teal"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="form-colorinput">
                  <input name="theme-primary" type="radio" value="cyan" class="form-colorinput-input"/>
                  <span class="form-colorinput-color bg-cyan"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label">Font family</label>
            <p class="form-hint">Choose the font family that fits your app.</p>
            <div>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-font" value="sans-serif" class="form-check-input" checked/>
                  <div class="form-check-label">Sans-serif</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-font" value="serif" class="form-check-input"/>
                  <div class="form-check-label">Serif</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-font" value="monospace" class="form-check-input"/>
                  <div class="form-check-label">Monospace</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-font" value="comic" class="form-check-input"/>
                  <div class="form-check-label">Comic</div>
                </div>
              </label>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label">Theme base</label>
            <p class="form-hint">Choose the gray shade for your app.</p>
            <div>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-base" value="slate" class="form-check-input"/>
                  <div class="form-check-label">Slate</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-base" value="gray" class="form-check-input" checked/>
                  <div class="form-check-label">Gray</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-base" value="zinc" class="form-check-input"/>
                  <div class="form-check-label">Zinc</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-base" value="neutral" class="form-check-input"/>
                  <div class="form-check-label">Neutral</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-base" value="stone" class="form-check-input"/>
                  <div class="form-check-label">Stone</div>
                </div>
              </label>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label">Corner Radius</label>
            <p class="form-hint">Choose the border radius factor for your app.</p>
            <div>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-radius" value="0" class="form-check-input"/>
                  <div class="form-check-label">0</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-radius" value="0.5" class="form-check-input"/>
                  <div class="form-check-label">0.5</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-radius" value="1" class="form-check-input" checked/>
                  <div class="form-check-label">1</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-radius" value="1.5" class="form-check-input"/>
                  <div class="form-check-label">1.5</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme-radius" value="2" class="form-check-input"/>
                  <div class="form-check-label">2</div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="mt-auto space-y">
          <TabButton ButtonType="ButtonType.Button" class="w-100" id="themeReset">
            <TabIcon Icon="@Icons.Outline.Rotate" />
            Reset changes
          </TabButton>
          <TabButton ButtonType="ButtonType.Link" Href="#" Color="Colors.Primary" class="w-100" data-bs-dismiss="offcanvas" id="themeSave">
            <TabIcon Icon="@Icons.Outline.Settings" />
            Save settings
          </TabButton>
        </div>
      </div>
    </form>
  </div>
}