@inherits TablerComponent

@if (Visible)
{
    @if (Type is ButtonType.Input or ButtonType.Reset or ButtonType.Submit)
    {
        <input @ref="@Element" style="@Style" disabled="@IsDisabled" @attributes="Attributes" class="@GetCssClass()" id="@GetId()" @onclick="@OnClick" value="@Text" type="@ButtonTypeName" />
    }
    else if (Type is ButtonType.Button)
    {
        <button @ref="@Element" style="@Style" disabled="@IsDisabled" @attributes="Attributes" class="@GetCssClass()" id="@GetId()" @onclick="@OnClick">
            @if (IsBusy)
            {
                <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            }

            @Text
        </button>
    }
    else
    {
        <a @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()" href="javascript:;" @onclick="@OnClick" role="button">
            @if (IsBusy)
            {
                <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            }
            
            @Text
        </a>
    }
}

@code {

    private bool _clicking;

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    public ButtonShape Shape { get; set; } = ButtonShape.Default;

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    [Parameter]
    public Colors Color { get; set; } = Colors.Primary;

    [Parameter]
    public bool Ghost { get; set; }

    [Parameter]
    public bool Outline { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public bool IsBusy { get; set; }

    [Parameter]
    public string BusyText { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> Click { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public bool IsDisabled => Disabled || IsBusy;

    public string ButtonTypeName
    {
        get
        {
            switch (Type)
            {
                case ButtonType.Link:
                case ButtonType.Button:
                    return string.Empty;

                case ButtonType.Input:
                    return "button";

                case ButtonType.Submit:
                    return "submit";

                case ButtonType.Reset:
                    return "reset";

                default:
                    return string.Empty;    // Default is 'Button' so we don't need this
            }
        }
    }

    public virtual async Task OnClick(MouseEventArgs args)
    {
        if (_clicking)
        {
            return;
        }

        try
        {
            _clicking = true;
            await Click.InvokeAsync(args);
        }
        finally
        {
            _clicking = false;
        }
    }

    protected override string GetComponentCssClass()
    {
        var builder = ClassBuilder.Create("btn");

        // Color / Style
        builder.Add(GetButtonColorClass());

        // Disabled
        builder.AddDisabled(IsDisabled);

        // Size
        builder.Add(GetButtonSizeClass());

        // Shape
        builder.Add("btn-square", Shape == ButtonShape.Square);
        builder.Add("btn-pill", Shape == ButtonShape.Pill);

        return builder.ToString();
        //return $"rz-button rz-button-{getButtonSize()} rz-variant-{Enum.GetName(typeof(Variant), Variant).ToLowerInvariant()} rz-{Enum.GetName(typeof(ButtonStyle), ButtonStyle).ToLowerInvariant()} rz-shade-{Enum.GetName(typeof(Shade), Shade).ToLowerInvariant()}{(IsDisabled ? " rz-state-disabled" : "")}{(string.IsNullOrEmpty(Text) && !string.IsNullOrEmpty(Icon) ? " rz-button-icon-only" : "")}";
    }

    private string GetButtonSizeClass()
    {
        return Size switch
        {
            ButtonSize.Large => "btn-lg",
            ButtonSize.Medium => "btn-md",
            ButtonSize.Small => "btn-sm",
            _ => "btn-md"
        };
    }

    private string GetButtonColorClass()
    {
        var prefix = "btn-";

        if (Ghost)
        {
            prefix += "ghost-";
        }
        else if (Outline)
        {
            prefix += "outline-";
        }

        return $"{prefix}{Color.ToString().ToLowerInvariant()}";
    }
}
