@inherits TabBaseComponent

@if (Visible)
{
    <span @ref="Element" id="@GetId()" class="@GetCssClass()" style="@GetStyleString()" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <TabIcon Icon="@Icon" />
        }
        
        @if (StatusColor != TabColors.Default)
        {
            <span class="@GetStatusCssClass()"></span>
        }

        @ChildContent
    </span>
}