@inherits TabBaseComponent

@if (Visible)
{
    <header @ref="Element" id="@GetId()" class="@GetCssClass()" style="@Style" @attributes="AdditionalAttributes">
        <div class="container-@ContainerSize.GetCssClassName()">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#@_navId" aria-controls="@_navId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Brand is not null)
            {
                <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    @Brand
                </div>
            }
            @if (RightContent is not null)
            {
                <div class="navbar-nav flex-row order-md-last">
                    @RightContent
                </div>
            }
            @if (NavContent is not null)
            {
                <div class="collapse navbar-collapse" id="@_navId">
                    @NavContent
                </div>
            }
        </div>
    </header>
}
